/* navbar.css */
.Navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Set width to 100% for responsiveness */
    max-width: 1440px; /* Add max-width to limit the width on larger screens */
    height: 80px;
    margin: 0 auto; /* Center the navbar horizontally */
    background-color: #912338;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.625%; /* 45px */
    color: #fff;
    padding: 0 20px; /* Adjusted padding for better spacing */
  }

  .app-name {
    position: relative;
    top: 0;
    left: 0; /* Adjusted left to align with the start of the navbar */
  }
  
  button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 0;
  }
  
  .calendar-button-text {
    position: relative;
    left: 10px;
    top: 8px;
  }
  
  .profile-button-container {
    display: flex;
    align-items: center;
  }
  
  .profile-button-text {
    margin-right: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #fff;
  }
  
  img {
    border-radius: 100%;
    width: 56px;
    height: 56px;
    top: 2px;
    right: 7px;
  }



.profile-button-text,.calendar-button-text{
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    color: #fff;
}
